<div>
    <h2 class="page-header text-center" ng-if="!updateForm">Create Contact</h2>
    <h2 class="page-header text-center" ng-if="updateForm">Update Contact</h2>
    <form role="form" class="form-horizontal contract-form" ng-submit="createContact(postForm)">
        <div class="form-group">
            <label class="col-sm-4 control-label">Full name:</label>
            <div class="col-sm-6">
                <input data-ng-model="postForm.name" type="text" class="form-control contact-name-input" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Email address:</label>
            <div class="col-sm-6">
                <input data-ng-model="postForm.email" type="email" class="form-control contact-email-input" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Telephone number:</label>
            <div class="col-sm-6">
                <input data-ng-model="postForm.tel" type="tel" class="form-control contact-tel-input" value="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-3">
                <button type="submit" class="btn btn-outline btn-lg btn-block" ng-if="!updateForm">Create</button>
                <button type="submit" class="btn btn-outline btn-lg btn-block" ng-if="updateForm">Update</button>
            </div>
            <div class="col-sm-3">
                <a href="/" class="btn btn-outline btn-lg btn-block">Cancel</a>
            </div>
        </div>
    </form>
</div>

